* {
  box-sizing: border-box;
  font-size: 20px;
}

.column1 {
  float: left;
  width: 50%;
}

.column2 {
  float: right;
  width: 50%;
}

.center {
  margin: 0;
  position: relative;
  text-align: center;
}

.row {
  padding-top: 50px;
}

.button {
  width: 150px;
  height: 40px;
  background-color: #573d06;
  border-radius: 30px;
  color: #fffbf3;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  /*margin: 10px 210px;*/
  /* padding: 7px 20px 10px 40px; */
  cursor: pointer;
}

.button:hover {
  background-color: #b38d22;
  color: black;
}

img {
  width: 480px;
  height: 450px;
}
