.button{
  width: 300px;
  background-color: #fffbf3;
  border: none;
  color: #573d06;
  display: flex;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 20px;
  margin: 5px 10px;
  padding: 20px 20px 20px 60px;
  cursor: pointer;
}

.button:hover{
    background-color: #b38d22;
    color:black;
}

div{
    width: 600px;
    background-color: #573d06;
    color: #fffbf3;
    display: flex;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 10px;
    padding: 20px 60px 20px 60px;
}

#page-title{
    background-color: #fffbf3;
    color: #573d06;
}

#input {
  background-image: url(../images/search-icon.png); /* Add a search icon to input */
  background-size:  26px 26px; 
  background-position: 7px 20px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80x; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: none;/*1px solid #573d06; Add a grey border */
  margin-left: 80%;
}

