#content {
  margin-top: 50px;
  padding-top: 200px;
}

#hot {
  width: 100px;
}

#cold {
  width: 100px;
}

#drinks-name {
  width: 200px;
}

#size-name {
  width: 200px;
}

h1 {
  text-align: center;
  font-size: 25px;
  color: #573d06;
  margin-bottom: 30px;
}

form {
  width: 500px;
  margin: auto;
}

div {
  margin-bottom: 30px;
  margin-right: 50px;
}

input {
  background-color: #fffbf3;
  border-style: none;
  font-size: 18px;
  color: #573d06;
  outline: none;
}

.recipe-name {
  font-size: 18px;
  color: black;
}

.available-coffee-shops {
  font-size: 18px;
  color: black;
}

.coffee-type {
  font-size: 18px;
  color: black;
}

.choose-drink {
  font-size: 18px;
  color: black;
}

.size {
  font-size: 18px;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;

  box-sizing: border-box;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-bottom: 20px;
}

.item {
  box-sizing: border-box;
  width: 450px;
  height: 50px;
}

.coffeeShopsItem {
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  background-color: #b38d22;
}

.add-ons {
  box-sizing: content-box;
  width: 600px;
}

.add-on {
  box-sizing: border-box;
  margin-top: 100px;
  font-size: 18px;
  color: black;
}

.recipe-name-input {
  width: 200px;
}

.button {
  width: 240px;
  height: 50px;
  background-color: #573d06;
  border: none;
  border-radius: 30px;
  color: #fffbf3;
  display: flex;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  /* margin: 0px 0px 0px 0px; */
  padding: 5px 25px 15px 45px;
  cursor: pointer;
}

.button:hover {
  background-color: #b38d22;
  color: black;
}

.caramel {
  margin: auto;
  font-size: 16px;
  color: #573d06;
}

.sugar {
  margin: auto;
  font-size: 16px;
  color: #573d06;

}

.extra-shot {
  margin: auto;
  font-size: 16px;
  color: #573d06;

}

.milk {
  margin: auto;
  font-size: 16px;
  color: #573d06;
}

.cream {
  margin: auto;
  font-size: 16px;
  color: #573d06;

}

.water {
  margin: auto;
  font-size: 16px;
  color: #573d06;
}

#all{
  padding-bottom: 20px;
}