@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

html *{
    font-family: Inknut Antiqua;
}

body {
    background-color: #fffbf3;
}

#home{
    margin-left: 50%;
}

.asText {
    background:#fffbf3;
    border:none;
    margin:0;
    padding:0;
}