#content {
    width: 600px;
    margin-top:100px;
    padding-top: 100px;
}

#image{
    margin-left:100px;
    margin-right:5px;
    margin-top:50px;
}

.button{
    width: 300px;
    background-color: #fffbf3;
    color: #573D06;
    border: none;
    display: flex;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 0px 20px 20px 60px;
    cursor: pointer;
}
  
.button:hover{
    font-weight: bold;
    color:black;
}