#content {
    width: 600px;
    margin-top:100px;
    padding-top: 100px;
}

h1{
    text-align: center;
}

form {
    width: 500px;
    margin: auto;
}

div {
    margin-bottom: 50px;
    margin-right: 50px;
}

.container {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;

  box-sizing: border-box;
  width: 500px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.item {
  box-sizing: border-box;
  width: 700px;
  height: 50px;
}

.addOns {
  box-sizing: content-box;
  width: 500px;
  height: 500px;
}

.addOn {
  box-sizing: border-box;
  margin-top: 220px;
}

.recipeNameInput {
  width: 200px;
}

#Hot {
  width: 100px;
}

#Cold {
  width: 100px;
}

#DrinksName {
  width: 200px;
}

#SizeName {
  width: 200px;
}

.button {
  width: 240px;
  height: 50px;
  background-color: #573d06;
  border: none;
  border-radius: 30px;
  color: #fffbf3;
  display: flex;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  margin: 10px 220px;
  padding: 5px 25px 15px 45px;
  cursor: pointer;
}

.button:hover {
  background-color: #b38d22;
  color: black;
}